
# Local configuration file (sdk path, etc)
**/local.properties
**/local

# Storeage file
**/build/*

# IDE config file
**/.idea/*.iws
**/.idea/workspace.xml
**/.idea/tasks.xml

# binary files
/.gradle/**/*.bin

# security files
/.gradle/**/*.lock

# link files
#*.lnk

# libraries
/timetableview